.ones-solutions-subtitle {
  width: 310px;
  margin-right: 90px;
}

.ones-solutions-subtitle__inner:nth-child(1) {
  margin-bottom: 10px;
}

.ones-solutions-subtitle__inner:nth-child(2) {
  max-width: 230px;
}