.techsupport-list {
  margin: 0;
  margin-bottom: 120px;

  padding: 0;
  padding-left: 430px;

  font-family: "Jost", "Arial", sans-serif;
  font-weight: 500;

  list-style: none;

  counter-reset: li;
}