extends ../../../templates/page-inner

block append vars
  - var pageTitle = 'Сопровождение программных продуктов 1С';
  - var tab = 'ones-solutions';
  - var articleClass = 'escort';

  - var title1Inner1 = 'Сопровождение';
  - var performText = 'Обслуживание и поддержку Вашего программного продукта 1С.'



block scripts