extends ../../../templates/page-inner

block append vars
  - var pageTitle = 'Внедрение программных продуктов 1С';
  - var tab = 'ones-solutions';
  - var articleClass = 'integration';

  - var title1Inner1 = 'Внедрение';
  - var performText = 'Внедрим, настроим и адаптируем программу под Ваш бизнес.'




block scripts