extends ../../../templates/page-inner

block append vars
  - var pageTitle = 'Аренда программных продуктов 1С';
  - var tab = 'ones-solutions';
  - var articleClass = 'rent';

  - var title1Inner1 = 'Аренда';
  - var performText = 'Программное обеспечение 1С в аренду, с размещением и хранением в облаке.'


block scripts