extends ../../../templates/page-inner

block append vars
  - var pageTitle = 'Доработка программных продуктов 1С';
  - var tab = 'ones-solutions';
  - var articleClass = 'rework';

  - var title1Inner1 = 'Доработка';
  - var performText = 'Доработаем программу и допишем необходимый функционал под Ваш бизнес.'



block scripts