extends ../../../templates/page-inner

block append vars
  - var pageTitle = 'Продажа программных продуктов 1С';
  - var tab = 'ones-solutions';
  - var articleClass = 'sell';

  - var title1Inner1 = 'Продажа';
  - var performText = 'Поможем с выбором, проконсультируем по функционалу, подберём оптимальную программу по стоимости.'



block scripts