extends ../../../templates/page-inner

block append vars
  - var pageTitle = 'Сервисы 1С и комплекты поддержки (КП)';
  - var tab = 'ones-solutions';
  - var articleClass = 'services-sets';

  - var title1Inner1 = 'Сервисы 1С';
  - var performText = 'Поможем с выбором, проконсультируем по функционалу, предоставим доступ и поддержу.'



block scripts