.page-title__inner:nth-child(1) {
  display: block;

  font-size: 60px;
  line-height: 72px;
}

.page-title__inner:nth-child(2) {
  display: block;

  font-size: 40px;
  line-height: 48px;
}

.page-title__inner--ones-solutions:nth-child(1) {
  max-width: 310px;
}

.page-title__inner--ones-solutions:nth-child(2) {
  max-width: 280px;
}

.services-sets .page-title__inner--ones-solutions:nth-child(1),
.services-sets .page-title__inner--ones-solutions:nth-child(2) {
  max-width: 335px;
}

.escort .page-title__inner--ones-solutions:nth-child(1) {
  max-width: 465px;
}