.container {
  width: 1180px;

  margin: 0 auto;

  padding-left: 140px;
  padding-right: 120px;
}

.promo .container {
  position: relative;
}

.actual .container {
  //min-height: 560px;
}

.ones-solutions .container {
  position: relative;
  //min-height: 1505px;
}

.partner-solutions .container {
  position: relative;
  //min-height: 1240px;
}

.distributors .container {
  position: relative;
  //min-height: 710px;
}

.services .container {
  position: relative;
  //min-height: 2565px;
}

.about .container {
  position: relative;
  //min-height: 1385px;
}

.about-company .container {
  width: 1050px;

  padding-left: 130px;
  padding-right: 0;
}

.statuses .container {
  //min-height: 405px;
}

.feedback .container {
  width: 1030px;
  //min-height: 478px;

  padding-right: 270px;
}

.techsupport .container {
  position: relative;
  //min-height: 1347px;
}

.contacts .container {
  //min-height: 535px;
}

.page-footer .container {
  //min-height: 320px;
  //min-height: 225px;
}

.intro .container {
  width: 1354px;

  padding-left: 43px;
  padding-right: 43px;
}

.sell-versions .container {
  width: 1050px;

  padding-left: 120px;
  padding-right: 270px;
}