- var header = true;



header.page-header
  div.container

    div.page-header-wrapper
      div.page-header-layout

        include ../../logo/logo/logo

        div.page-header-lists-row
          include ../../navigation/navigation

    nav.main-nav
      div.page-header-layout

        p.main-nav__description Решение IT-проблем “под ключ”

        div.page-header-lists-row
          include ../site-nav/site-nav/site-nav