.promo .btn-location {
  position: absolute;

  bottom: 102px;
  right: 290px;
}

.ones-solutions .btn-location {
  position: absolute;

  bottom: -210px;
  right: 541px;
}

.partner-solutions .btn-location {
  position: absolute;

  bottom: 21px;
  right: 541px;
}

.distributors .btn-location {
  position: absolute;

  bottom: 21px;
  right: 541px;
}

.services .btn-location {
  position: absolute;

  bottom: -280px;
  left: 590px;
}

.about .btn-location {
  position: absolute;

  bottom: -280px;
  left: 590px;
}

.techsupport .btn-location {
  position: absolute;

  bottom: -223px;
  left: 591px;
}