.promo {
  padding-top: 70px;
  padding-bottom: 58px;

  background-color: #ffe605;
  background-image: url("../img/promo/rounds-bg.png");
  background-position: 1161px -50px;
  background-repeat: no-repeat;
}