- var sectionClass = 'promo';
- var btn = false;


section(class= sectionClass)
  h2.visually-hidden Наши предложения_

  div.container
    p.promo-lead #[span.visually-hidden Мы предлагаем] Комплексное #[span.promo-lead__inner решение]<br> it-проблем
      span.blink-underscore _

    p.promo-text #[span.visually-hidden Вам также будет предложена] Скидка 10% на работы при первом пробном обращении. Оплата после выполнения работ.

    include ../../../../generals/btn/btn/btn