if tab === 'ones-solutions' && articleClass === 'escort'
  p.perform
    span.visually-hidden При выборе данного 1С Решения, осуществим
    span= performText

else if tab === 'ones-solutions' && articleClass === 'rent'
  p.perform
    span.visually-hidden При выборе данного 1С Решения, предоставим
    span= performText

else
  p.perform
    span.visually-hidden При выборе данного 1С Решения,
    span= performText