.feedback {
  //min-height: 478px;

  margin-bottom: 150px;

  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #ffe605;
  background-image: url("../img/feedback/rounds-bg.png");
  background-position: 1120px -20px;
  background-repeat: no-repeat;
}