.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;
  margin-bottom: 32px;

  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  list-style: none;

  font-family: "Jost", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;

  color: #79797a;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 27px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item::after {
  position: absolute;
  top: -1px;
  right: -14px;

  content: "/";
}

.breadcrumbs__item--current {
  color: #0745c3;
}

.breadcrumbs__item--current::after {
  display: none;
}