.clients {
  //min-height: 370px;
}

.clients .container {
  //min-height: 370px;
}

.clients-header {
  margin-bottom: 70px;
}

.clients-lead {
  max-width: 470px;
}

.clients-list {
  //min-height: 200px;
  background-color: #ffffff;
}

.clients-item {
  margin-right: 0;
}

.clients-item-image {
  border: 1px solid transparent;
}