.about-company .statistic-term {
  font-weight: 700;
  font-size: 60px;
  line-height: 79px;

  color: #f1f2f4;

  text-shadow:
    1px 0 0 #0745c3, -1px -0 0 #0745c3,
    0 1px 0 #0745c3, -0 -1px 0 #0745c3
  ;
}