.footer-privacy {
  width: 229px;
  line-height: 23px;
  text-decoration: underline;
}

.footer-privacy:hover,
.footer-privacy:focus {
  color: #0745c3;
  transition: 0.5s;
}

.footer-privacy:active {
  color: #0745c3;
  transition: 0.5s;
}