.section-subtitle__inner:nth-child(1) {
  display: block;

  font-size: 40px;
  line-height: 48px;
}

.section-subtitle__inner:nth-child(2) {
  display: block;

  font-size: 26px;
  line-height: 31px;
}