.contacts-text-column {
  position: relative;

  width: 320px;
  //min-height: 354px;

  padding-left: 0;
  padding-right: 130px;

  padding-top: 29px;
  padding-bottom: 16px;

  border-top: 1px solid #79797a;
}