.contacts-item-description {
  margin: 0;

  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
}

.page-footer .contacts-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}