if btn
  a.btn.btn--normal(href="#feedback") Заказать звонок
else if sectionClass === 'feedback'
  button.btn.btn--normal.btn-location(type="submit") Заказать звонок
else
  a.btn.btn--round.btn-location(href="#") Заказать звонок