.checkbox-area-label {
  position: relative;

  display: inline-block;
  vertical-align: middle;

  margin-left: 50px;

  padding: 4px 0;

  font-family: "Jost", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;

  cursor: pointer;
  user-select: none;
}