.actual .details-location {
  position: absolute;

  bottom: 58px;
  right: 18px;
}

.ones-solutions .details-location {
  position: absolute;

  top: 90px;
  right: 28px;
}

.partner-solutions .details-location {
  position: absolute;

  bottom: 38px;
  right: 19px;
}

.services .details-location {
  position: absolute;

  bottom: 63px;
  right: 30px;
}