ul.slider-controls

  li.slider-controls-item
    button.slider-controls-btn(type="button" disabled)
      span.visually-hidden Предыдущий слайд
      svg(width="140" height="100" viewBox="0 0 140 100" fill="none" xmlns="http://www.w3.org/2000/svg")
        circle(cx="50" cy="50" r="40" fill="#dadada")
        path(d="M140 50H40M40 50L49.4763 40M40 50L49.4763 60" stroke="#020202")

  li.slider-controls-item
    button.slider-controls-btn(type="button")
      span.visually-hidden Следующий слайд
      svg(width="140" height="100" viewBox="0 0 140 100" fill="none" xmlns="http://www.w3.org/2000/svg")
        circle(cx="90" cy="50" r="40" fill="#dadada")
        path(d="M0 50H100M100 50L90.5237 40M100 50L90.5237 60" stroke="#020202")